<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Modern Loves v0.1">
  <meta name="author" content="Tal Schwartz - schwartztal@gmail.com">

  <title> Modern Loves</title>
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">

  <link  href="/css/application.css" rel="stylesheet">
  <link  href="/css/jquery.modal.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- Nav bar  -->

  <%= erb :_nav, layout: false %>

<!--Jumbotron - the main display -->
<div class="jumbotron">
  <div class="container">
    <!-- Notifications of success -->
      <% if flash[:notice] %>
        <center><p class="alert alert-success"><%= flash[:notice] %></p></center>
              <% end %>
    <!-- Notifications of error -->
      <% if flash[:error] %>
        <center><p class="alert alert-success"><%= flash[:error] %></p></center>
      <% end %>
  </div>
</div>

<!-- Login box modal - hidden by default -->
  <div id="login-box" style="display: none">
    <%= erb :_login_providers, layout: false %>
  </div>
  <div id="login-form" style="display: none">
    <%= erb :_login_form, layout: false %>
  </div>
  <div id="registration-form" style="display: none">
    <%= erb :"user/_registration_form", layout: false %>
  </div>


  <%= yield %>

  <!--  Core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
  <script src="/js/application.js"></script>
  <script src="/js/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
