<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Modern Loves v0.1">
  <meta name="author" content="Tal Schwartz - schwartztal@gmail.com">

  <title>Is It Crowded?</title>
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">

  <link  href="/css/application.css" rel="stylesheet">
  <link  href="/css/jquery.modal.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- Nav bar  -->

  <%= erb :_nav, layout: false %>

<!--Jumbotron - the main display -->
<div class="jumbotron">
  <div class="container">
    <!-- Notifications of success -->
      <% if flash[:notice] %>
        <center><p class="alert alert-success"><%= flash[:notice] %></p></center>
              <% end %>
    <!-- Notifications of error -->
      <% if flash[:error] %>
        <center><p class="alert alert-success"><%= flash[:error] %></p></center>
      <% end %>
  </div>
</div>

<!-- Login box modal - hidden by default -->
  <div id="login-box" style="display: none">
    <%= erb :_login_providers, layout: false %>
  </div>
  <div id="login-form" style="display: none">
    <%= erb :_login_form, layout: false %>
  </div>
  <div id="registration-form" style="display: none">
    <%= erb :"user/_registration_form", layout: false %>
  </div>


  <%= yield %>

  <!--  Core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
  <script src="/js/application.js"></script>
  <script src="/js/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      //console.log("jquery is ready");

      //create a function that will handle requests to SF Open Data API
      //it takes a url parameter to the API and a successCallBack parameter
      //which will be ran upon successful connection to the server
      //it will return a json file of the datat
      function getRequest(requestUrl, successCallBack){
        var request = $.ajax({
          url: requestUrl,
          //data: {"dba_name": $('#a_location').val()},
          method: "GET"
        })
        request.done(successCallBack);
      }

      function returnLocation() {
        $("#confirmedLocation").html($("#userSelectedLocation").val());
      }

      //getLocations gets the data return from our getRequest
      //it will loop over each business listed return
      //results that match a location that the user inputted
      function getLocations(data, returnLocation) {
        //set user inputted location to a variable
        var userLocation = $('#a_location').val();

        //generate list all of the names of the businesses from the API
        var str = "";
        str = str + '<select id="userSelectedLocation">';
        //loop over each business name and use a RegExp to check to see if it matches the user input
        //if it matches at all, display it to the user
        for (var i = 0; i < data.length; i++) {
          var check = new RegExp(userLocation, "i");
          if (data[i].dba_name.match(check)) {
           str = str + '<option value="data[i].dba_name">' + data[i].dba_name + " " + data[i].location_address + " " + data[i].location_city + " " + data[i].location_state + " " + data[i].location_zip + "</option>";
            //console.log(str);
          }
        }
        str = str + "</select>";
        $("#results").html(str);

      }

      var optionsListener = function(data){
          console.log("Things happned maybe");
          console.log("This is data", data);
        $('body').on("change", '#userSelectedLocation', function(e){
          var optionSet = e.currentTarget;
          for (var i = 0; i < optionSet.length; i++) {
            if (optionSet[i].selected) {
              console.log("this is what they selected", optionSet[i]);
              //return {"dba_name": data[i].dba_name};
            }
          }
          console.log("Things happned");
          console.log(e);
          //debugger;
        })
      };

      //when a user enters a location and hits the submit button
      //we make a getRequest and return a list of businesses with their
      //locations  for user to choose from
      $('#submit_location').on('click', function(event) {
        var url = "https://data.sfgov.org/resource/vbiu-2p9h.json";
        getRequest(url, getLocations);

        });

      /*$(document).on(function()
            $("#confirmedLocation").html($("#userSelectedLocation").val());
        );*/
    optionsListener();
    });
  </script>

  
</body>
</html>
